# DATABASE VARIABLES TO CONFIGURE CONNECTION
SINGULARITY_DB_TARGET=postgres
SINGULARITY_DB_HOST=localhost
SINGULARITY_DB_PORT=5673
# DB name will be used to create a SQLite .db file if it doesn't exist
SINGULARITY_DB_NAME=singularity
# USER and PASSWORD might be empty if target is 'sqlite'
SINGULARITY_DB_USER=root
SINGULARITY_DB_PASSWORD=1234

# VARIABLES TO GENERATE OAUTH2 TOKEN
JWT_SECRET_KEY=
JWT_EXPIRES_IN_DAYS=7
JWT_ALGORITHM=HS256

# CREATE FIRST SUPERUSER
FIRST_SUPERUSER_NAME="User Name"
FIRST_SUPERUSER_EMAIL=user@email.com
FIRST_SUPERUSER_PASSWORD=user_password
